.container {
    display: grid;
    grid-template-columns: repeat(4, 310px);
    grid-auto-rows: 320px;
    margin: 50px 50px 50px 50px;
  }
  .gallery__img {
    margin: auto;
    border-radius: 25px;
    display: block;
  }
  
  .gallery__item {
    width: 280px;
    height: 200px;
    margin: auto;
   border-radius: 5px;
  
  }
  
  .gallery__item img {
   border-radius: 5px;
  }
  